@font-face {
  font-family: "heb";
  src: url("~assets/fonts/heb.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "hem";
  src: url("~assets/fonts/hem.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "her";
  src: url("~assets/fonts/heb.otf") format("opentype");
  font-display: swap;
}

/* @font-face {
  font-family: "se3";
  src: url("~assets/fonts/se3.woff2") format("woff2");
  font-display: swap;
} */

/* @font-face {
  font-family: "seb";
  src: url("~assets/fonts/seb.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "sesb";
  src: url("~assets/fonts/sesb.woff2") format("woff2");
  font-display: swap;
} */
